.container {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
  }
  
  .startButtonContainer {
    margin-top: 20px;
  }
/* Home.module.css */
.container {
  text-align: center;
  margin: 50px auto;
  max-width: 600px;
}

/* Ajoutez le style pour l'effet de couleur ici */
.text {
  color: chartreuse;
  font-size: 30px;
  position: relative;
  z-index: 1;
}



h1{
  position: relative;
  font-size: 2em;
  letter-spacing: 0.05em;
  cursor: default;
  text-transform: uppercase;
  font-weight: 500;
}
h1 span
{
  color: #555;
  transition: 0.25s;
}
h1:hover span
{
color: #0f0;
text-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0;

}

  