:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #031321;
  background-color: #031321;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  .home-container {
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
  }
  
  .start-button-container {
    margin-top: 20px;
  }
  
  
  

